.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-dm-mono), sans-serif;
  background-color: var(--background);
}

.main {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  overflow-block: auto;
  scroll-behavior: smooth;
}

.main p {
  padding-block: 1rem;
}

.hero {
  background: #383838;
  background-image: url("/slide-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding-inline: 10vw;
}

.contentAllMusic {
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid white;
  padding-block: 2rem;
}

.contentAllMusic img {
  color: transparent;
  width: 275px;
  height: 100%;
  flex-basis: 20%;
}
.contentAllMusic p {
  flex-basis: 80%;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
